html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
    margin-top: 5rem;
  /* width: 1440px; */
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: hsl(212, 6%, 44%);
  font-family: "Poppins", sans-serif;
}

.home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 80%;
}

.boxes_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.container {
  width: 30rem;
  /* height: 40rem; */
  max-width: 50rem;
  /* min-width: 50rem; */
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.197);
  display: flex;
  flex-direction: column;
  padding: 4rem;
  position: relative;
  border-radius: 1rem;
  gap: 1rem;
}

.icon {
  width: Ù¥rem;
  align-self: flex-end;
  margin-top: auto;
}

.sup_title {
  font-size: 2.4rem;
  font-weight: 200;
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.heading_discreption {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.container_discreption {
  font-size: 1.5rem;
}

.green {
  border-top: 0.7rem solid hsl(180, 62%, 55%);
}

.red {
  border-top: 0.7rem solid hsl(0, 78%, 62%);
}

.yellow {
  border-top: 0.7rem solid hsl(34, 97%, 64%);
}

.blue {
  border-top: 0.7rem solid hsl(212, 86%, 64%);
}

@media (min-width: 1000px) {
  .home_page {
    width: 90%;
    max-width: 120rem;
  }

  .sup_title {
    font-size: 3.4rem;
    font-weight: 200;
  }

  h1 {
    font-size: 3.4rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
  }

  .heading_discreption {
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .boxes_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
  }

  .green {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .red {
    grid-column: 2;
    grid-row: 1;
  }

  .yellow {
    grid-column: 2;
    grid-row: 2;
  }

  .blue {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
}
